<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jurídico AI{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}?v=4.5">
</head>
<body>
    <header class="topo">
        <div class="container topo-conteudo">
            <a href="/" class="marca-link">
                <img
                    src="{{ url_for('static', path='img/logo-juridico-ai-sem-fundo.png') }}"
                    alt="Jurídico AI"
                    class="logo-juridico"
    >
            </a>

            <nav class="menu">
                <a href="/">Início</a>
                <a href="/documents/upload">Upload</a>
                <a href="/documents">Documentos</a>
                <a href="/generations/create">Nova geração</a>
                <a href="/generations">Gerações</a>
                <a href="/writing-profiles/create">Novo perfil</a>
                <a href="/writing-profiles">Perfis</a>
            </nav>
        </div>
    </header>

    <main class="container pagina-conteudo">
        {% block content %}{% endblock %}
    </main>
</body>
</html>